PORT=3000
FIREBASE_API_KEY=AIzaSyARNdbxdc-qLfWxfabcv5QbHxrHG5SKz1I
FIREBASE_AUTH_DOMAIN=swifttrack-web1.firebaseapp.com
FIREBASE_PROJECT_ID=swifttrack-web1
FIREBASE_STORAGE_BUCKET=swifttrack-web1.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=627289261771
FIREBASE_APP_ID=1:627289261771:web:e73863d8fc7d456511fd4e
ADMIN_EMAIL=nimissolomon@gmail.com
